﻿body {
    background: url(../img/icones/accueil.png);
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
}

.item_aperçu {
    font-family: Arial, serif;
    position: relative;
    margin: 5px;
    float: left;
    background-size: cover;
    width: 400px;
    height: 400px;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
}

h1 {
    font-family: Arial, serif;
    font-weight: bolder;
    color: #020647;
    font-size: 40px;
    margin-left: 15px;
}

.item_aperçu:hover {
    opacity: 80%;
}

.item_aperçu:hover::after {
    content: "";
    background: url("../img/filtreOpacite.png");
    opacity: 20%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -5;
    border-radius: 10px;
}

.item_aperçu:hover > #nom {
    display: block;
    opacity: 100%;
    position: inherit;
    text-align: center;
    top: 50%;
    font-size: 2pc;
    color: white;
    text-shadow: 0 0 15px black, 1px 1px 15px black, -1px -1px 15px black;
}

.item_aperçu:hover > #prix {
    display: block;
    opacity: 100%;
    position: inherit;
    text-align: center;
    top: 50%;
    font-size: 1.5pc;
    color: white;
    text-shadow: 0 0 15px black, 1px 1px 15px black, -1px -1px 15px black;
}

.item_aperçu > #nom {
    display: none;
}

.item_aperçu > #prix {
    display: none;
}

.img-item {
    background-size: cover;
    max-width: 400px;
    max-height: 400px;
}



.item_détail{
  padding-left: 150px;
  padding-top: 20px;
  float:left;
  display: flex;
}

div b {
    font-family: Century Gothic, sans-serif;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 40px;
    display: flex;
}

div p {
    display: flex;
    margin: 0;
    font-family: Century Gothic, sans-serif;
    padding-left: 40px;
    font-size: 20px;
}

.descr > p {
    padding-left: 20px;
    width: 700px;
    overflow-wrap: normal;
    text-align: justify;
    white-space: pre-line;
    font-family: Century Gothic, sans-serif;
    font-size: 16px;
}

.descr > b{
  font-size: 20px;
}

.descr > a {
    padding: 3px;
    font-family: Ventana, sans-serif;
    background-color: #3a5438;
    color: #fff;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 10px;

}

.descr{
  float:left;
}

.items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.top_table > TH {
    background-color: #1D6070;
    color: white;
    text-align: left;
    padding: 5px;
}

.line_table > TD {
    border: 1px solid #ddd;
}

.line_table:nth-child(even) {
    background-color: #f2f2f2;
}

.line_table:hover {
    background-color: #bfbfbf;
}

a:link {
    text-decoration: none;
}

.bouton {
    display: inline-block;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    background-color: #000;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #1f1f1f;
    margin: 5px;

}

input, textarea {
    resize: none;
    background-color: white;
    color: #030117;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #1f1f1f;
    margin: 5px;
}

textarea {
    height: 70px;
}

label {
    display: inline-block;
    font-family: "Al Bayan", Baghdad, Arial, serif;
    font-size: 15px;
    color: #1D6070;
    font-weight: bold;
}

form {
    display: inline-block;
    width: fit-content;
    margin-left: 40px;
}

.select {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.erreur {
    font-style: normal;
    font-weight: bolder;
    font-size: medium;
    background-color: #a50023;
    color: white;
    font-family: Verdana, sans-serif;
    padding: 4px;

}

body {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #dddddd;

}

nav ul {
    margin: 0;
    list-style-type: none;
    text-align: left;
}

nav li {
    display: inline-block;
    padding-right: 60px;
}

nav li a {
    text-decoration: none;
    font-family: Arial, serif;
    font-size: 25px;
    color: rgb(16, 62, 24);

}

nav li a div{
  display: none;
}


p{
  padding-left: 10px;
  font-family: Verdana, sans-serif;
}

nav li img {
    vertical-align: middle;
    padding: 5px;
    width: 40px;
}

nav li .icn {
    width: 40px;
}

.message {
    background-color: white;
    border-radius: 2px;
    border: 1px solid #1f1f1f;
    margin: 10px 45px;
}

.message > #username, .message > #message {
    padding: 10px;
}

.message > #username{
    background-color: #dddddd;
    border-bottom: 1px solid #1f1f1f;
}

.message > #message {
    margin-left: 20px;
}

nav li .nom {
    margin-right: 800px;
    display: inline-block;
}

.titreListe {
    font-family: Arial, serif;
    font-weight: bolder;
    color: rgb(45, 42, 46);
    font-size: 30px;
    margin-left: 30px;
}

.descListe {
    font-family: Arial, serif;
    font-style: italic;
    color: #575759;
    font-size: 20px;
    margin-left: 45px;
    padding: 5px;
}